/* ==========================================================================
   Author's custom styles
   ========================================================================== */

h1, h2, h3,p {
    color: #5e5e5e;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
    color: #5e5e5e;
    font-weight: bold;
    text-decoration: underline;
}
a:hover {
     color: #000;
     font-weight: bold;
     text-decoration: underline;
 }
















