@import "../../scss/breakpoints";

$left-column-size: percentage(2/5);
$right-column-size: 100%-$left-column-size;

$gap: 1.75rem;

.layout {
  display: flex;
  align-items: flex-start;
  max-width: 66rem;
  margin-left: auto;
  margin-right: auto;

  .left {
    @include breakpoint-xs {
      width: 100%;
    }
    @include breakpoint-sm {
      width: $left-column-size;
      margin-right: $gap;
      position: sticky;
      top: 0px;
    }
  }

  .right {
    @include breakpoint-xs {
      width: 100%;
    }
    @include breakpoint-sm {
      width: calc(#{$right-column-size} - #{$gap});
    }
  }
}
