@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import "../../scss/breakpoints";

.personal {
  img {
    max-width: 50%;
    border-radius: 50%;
  }

  h1 {
    font-family: "Kaushan Script", cursive;
  }
}
